@charset "UTF-8";
/* CSS Document */

html{
	background-color:#444;
	padding:0 lem;
}

body {
    margin: lem auto;
    max-width: 50em;
	height:52.625em;
	background-color:#B0AEAF;
	font-family:actor;
}

#section-left{
	width:35%;
	float:left;
	height:100%;
	background-color:#E4CDCB;
	color:#fff;
	text-align:center;
}

#section-left .section{
	margin-top:40%;
	padding:lem;
}

#section-left.section.logo{
	height:150px;
	width:150px;
	border-radius:50%;
	margin:0 auto;
	background:url('http://i4.bvimg.com/620557/0a31120411460ae8.png');
}

.intro hr{
	width:4em;
	display:block;
	height:2px;
	border:0px;
	border-top:2px solid;
}

.dob{
	text-decoration:overline underline;
}

.intro .content{
	margin-bottom:20px;
}

#contact{
	margin-top: 40px;
}

h1{
	font-family:'open sans', sans-serif;
	text-transform:uppercase;
}

#section-right{
	width:65%;
	float:right;
}

#section-right .section{
	margin:0 0 30px 0;
}

.wrapper{
	padding:2em;
}

.fa{
	margin-right:15px;
}

.wrapper .title{
	color:#E4CDCB;
	font-size:1.3em;
	font-variant:small-caps;
	letter-spacing:0.1em;
	font-weight:bold;
	border-bottom:2px solid #f2f2f2;
	font-family:'dawning-of-a-new-day';
}
	
a:link{
	color:#fff;
	text-decoration:none;
}

a:visited{
	color:#fff;
	text-decoration:none;
}

a:hover{
	color:#fff;
	text-decoration:none;
}

a:active{
	color:#fff;
	text-decoration:none;
}

h2{
	text-transform:uppercase;
	font-size:lem;
}

h3{
	font-size:0.8em;
	text-transform:uppercase;
	font-weight:normal;
}

.contact{
	margin:0 20px;
}
	
.icon{
	width:30%;
	float:left;
}

.def{
	width:70%;
	float:right;
}


